<p>Yo</p>

<%# create an un ordered list %>
<%# each li element contains one article object %>
<%# end ul %>
<ul>
  <% @articles_all.each do |a| %>
    <li><a href="/articles/<%= a.id %>"> <%= a.title %> </a></li>
  <% end %>
</ul>

<p>End of page</p>
