<p>Yo</p>

<%# create an un ordered list %>
<%# each li element contains one article object %>
<%# end ul %>
<ul>
  <% @articles_all.each do |article| %>
    <li>
      <%= link_to(article.title, article) %>
    </li>
  <% end %>
</ul>

<p>End of page</p>
